<div class="votation">
  <a href="." routerLink=".">
    <md-icon >keyboard_arrow_up</md-icon>
  </a>
  <p>1</p>
  <a  href="." routerLink=".">  
    <md-icon>keyboard_arrow_down</md-icon>
  </a>
</div>

<md-card class="card">
  <md-card-header class="header">
    <div class="header-image">
      <img src="http://lorempixel.com/150/150/" alt="">
    </div>
    <div class="header-title">
      <md-card-title>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, corporis!</md-card-title>
      <md-card-subtitle>submitted 2 months ago by <a href="." class="author">blackmeat2017</a></md-card-subtitle>
    </div>
  </md-card-header>
  <md-card-actions>
    <button md-button><md-icon>mode_comment</md-icon></button>
    <button md-button><md-icon>share</md-icon></button>
    <button md-button><md-icon>warning</md-icon></button>
  </md-card-actions>
</md-card>