<div class="votation">
  <a href="main-page/">
    <md-icon>keyboard_arrow_up</md-icon>
  </a>
  <p>1</p>
  <a href="main-page/">
    <md-icon>keyboard_arrow_down</md-icon>
  </a>
</div>

<md-card class="card">

  <div class="mobile-header">
    <div class="header-image">
      <img [src]="'http://lorempixel.com/150/150/' + post?.type" alt="">
    </div>
    <div class="header-title">
      <md-card-title>{{post?.title}}</md-card-title>
      <md-card-subtitle>submitted {{post?.time}} ago by <a href="." class="author">{{post?.author}}</a></md-card-subtitle>
    </div>
  </div>

  <md-card-header class="header">
    <div class="header-image">
      <img [src]="'http://lorempixel.com/150/150/' + post?.type" alt="">
    </div>
    <div class="header-title">
      <md-card-title>{{post?.title}}</md-card-title>
      <md-card-subtitle>submitted {{post?.time}} ago by <a href="." class="author">{{post?.author}}</a></md-card-subtitle>
    </div>
  </md-card-header>
  <md-card-actions>
    <md-icon>warning</md-icon>
    <md-icon>share</md-icon>
    <md-icon>mode_comment</md-icon>
  </md-card-actions>
</md-card>