<img class="balloon" src="assets/img/balloon.png" alt="ballon">
<div class="bg">
    <img class="cloud position-4" src="assets/img/cloud.png" alt="">
</div>
<div class="back-layer-1">
    <img class="cloud position-1" src="assets/img/cloud.png" alt="">
    <img class="cloud position-3" src="assets/img/cloud.png" alt="">
</div>
<div class="back-layer-2">
    <img class="cloud position-2" src="assets/img/cloud.png" alt="">
</div>
<header class="welcome-header">
    <span>welcome to</span>
    <img src="assets/logo.png" alt="" class="logo">
</header>

<div @flyInOut *ngIf="!openLoginForm">
    <a class="mobile-btn-primary" (click)="openLoginForm=true"> Login </a>
    <a class="mobile-btn-primary" (click)="openLoginForm=true; register=true"> Register </a>
    <a class="mobile-btn" href="/main-page"> Enter without signin </a>
</div>

<div @flyInOut *ngIf="openLoginForm">
    <div class="mobile-login-fields" [class.sign-up]="register">
        <input type="text" placeholder="username">
        <input type="password" placeholder="password" class="last">7
    </div>
    <a class="mobile-btn-primary" href="/main-page"> {{register ? 'Sign-up' : 'Sign-in'}}</a>
    <a class="mobile-btn" (click)="openLoginForm=false; register=false" > back </a>
</div>
<a class="mobile-bottom-btn" href="/main-page"> What is reddit? </a>

<div class="container">
    <div class="login">
        <h1>Sign in</h1>
        <div class="login-fields">
            <input type="text" placeholder="username">
            <input type="password" placeholder="password" class="last">
        </div>
        <a class="btn-primary" href="/main-page"> Login </a>
    </div>
    <div class="vertical-separator"> </div>
    <div class="login">
        <h1>don't have an account? </h1>
        <br>
        <a href="/main-page" class="btn-primary"> Register </a>
        <a href="/main-page" class="btn"> Enter without signin </a>
        <a href="/main-page" class="btn"> "I have no idea what I'm doin' here" </a>
    </div>
</div>