$accent-color: #5f99cf;

$container-height: 250px;

$menu-height: 60px;


//screens 
$tiny: 320px;
$small: 400px;
$medium: 780px;
$large: 900px;

//layers
$layer-back: -50; 
$layer-back1: -25; 
$layer-back2: -10;
$layer-front: 10; 