<nav id="menu">
    <section class="logo">
        <a href="/">
            <img src="assets/logo.png" alt="">
        </a>
    </section>
    <ul>
        <li><a href="" class="active">Hot</a></li>
        <li><a href="">New</a></li>
        <li><a href="">Rising</a></li>
        <li><a href="">Controversial</a></li>
        <li><a href="">Top</a></li>
        <li><a href="">Gilded</a></li>
        <li><a href="">Promoted</a></li>
    </ul>
    <div class="user">
        <img src="assets/img/user.png" alt="">
    </div>
</nav>