<div class="separator-light">
  popular subreddits
</div>
<div class="list" malihu-scrollbar [scrollbarOptions]="{theme: 'minimal-dark' }">
  <ul>
    <li><a href="#">ASKREDDIT</a></li>
    <li><a href="#">NEWS</a></li>
    <li><a href="#">FUNNY</a></li>
    <li><a href="#">PICS</a></li>
    <li><a href="#">WORLDNEWS</a></li>
    <li><a href="#">TODAYILEARNED</a></li>
    <li><a href="#">VIDEOS</a></li>
    <li><a href="#">MOVIES</a></li>
    <li><a href="#">GIFS</a></li>
    <li><a href="#">AWW</a></li>
    <li><a href="#">GAMING</a></li>
    <li><a href="#">MILDLYINTERESTING</a></li>
    <li><a href="#">SHOWERTHOUGHTS</a></li>
    <li><a href="#">MUSIC</a></li>
    <li><a href="#">JOKES</a></li>
    <li><a href="#">SCIENCE</a></li>
    <li><a href="#">IAMA</a></li>
    <li><a href="#">NOTTHEONION</a></li>
    <li><a href="#">OLDSCHOOLCOOL</a></li>
    <li><a href="#">TELEVISION</a></li>
    <li><a href="#">BOOKS</a></li>
    <li><a href="#">LIFEPROTIPS</a></li>
    <li><a href="#">TIFU-SPORTS</a></li>
    <li><a href="#">EXPLAINLIKEIMFIVE</a></li>
    <li><a href="#">FUTUROLOGY</a></li>
    <li><a href="#">HISTORY</a></li>
    <li><a href="#">FOOD</a></li>
    <li><a href="#">PHOTOSHOPBATTLES</a></li>
    <li><a href="#">DOCUMENTARIES</a></li>
    <li><a href="#">DATAISBEAUTIFUL</a></li>
    <li><a href="#">SPACE</a></li>
    <li><a href="#">WRITINGPROMPTS</a></li>
    <li><a href="#">UPLIFTINGNEWS</a></li>
    <li><a href="#">TWOXCHROMOSOMES</a></li>
    <li><a href="#">PERSONALFINANCE</a></li>
    <li><a href="#">ASKSCIENCE</a></li>
    <li><a href="#">ART</a></li>
    <li><a href="#">MORE »</a></li>
  </ul>
</div>